@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&display=swap");

#root {
	background-color: #e5e5e5;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.App {
	height: 100vw;
	width: 100vw;
	background: #0b2434;
	display: flex;
	justify-content: center;
	align-items: center;
}

.whiteCard {
	background-color: #f5f5f5;
	width: 85vw;
	height: 85vw;
	margin: 0 0 0 0;
	border-radius: 10%;
}

.textBox {
	color: #2b283a;
	text-align: center;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 0;
}

.textBox h1 {
	font-family: "Karla", sans-serif;
	font-weight: bold;
	font-size: 3rem;
	margin: 0;
}

.textBox h3 {
	width: 100%;
	font-family: "Inter", sans-serif;
	font-size: 0.8rem;
	line-height: 2.2rem;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-content: center;
}

@media screen and (min-width: 520px) {
	.textBox h1 {
		font-family: "Karla", sans-serif;
		font-weight: bold;
		font-size: 3rem;
	}

	.textBox h3 {
		width: 80%;
		font-family: "Inter", sans-serif;
		font-size: 2rem;
	}
}

@media screen and (min-width: 1000px) and (orientation: landscape) {
	#root {
		align-items: center;
		width: 100vw;
		height: 100vh;
	}

	.App {
		height: 90vh;
		width: 90vh;

		justify-content: center;
		align-items: center;
	}

	.whiteCard {
		width: 80vh;
		height: 80vh;
		margin: 0;
		border-radius: 10%;
		justify-content: center;
		align-items: center;
	}

	.textBox {
		color: #2b283a;
		text-align: center;
		display: flex;
		flex-flow: column;
		align-items: center;
		margin: 5% 0 0 0;
	}

	.textBox h1 {
		font-family: "Karla", sans-serif;
		font-weight: bold;
	}

	.textBox h3 {
		width: 60%;
		font-family: "Inter", sans-serif;
	}

	.container {
		display: grid;
		grid-template-columns: auto / auto 1fr 1fr 1fr 1fr 1fr;
		justify-content: center;
	}
}
